/*************************
         VARIABLES
*************************/
:root {
  --fontSize: 16px;
  --colorBrand_first: #03325c;
  --colorBrand_second: #00a49d;
  --colorBrand_first--2: #16365c;
  --colorBrand_second--2: #27b3a2;
  --colorBG_light: #fbfbff;
  --colorBG_dark: var(--colorBrand_first);
  --colorFont_light: #ebeff0;
  --colorFont_dark: #12212e;
}


/*************************
      Standar Rules
*************************/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fontSize);
  background-color: var(--colorBG_light);
  color: var(--colorFont_dark);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--colorFont_dark);
}

a:visited {
  color: var(--colorFont_dark);
}

.title-section {
  font-size: 2.6rem;
  text-align: center;
  color: var(--colorBrand_first)
}


/*************************
         HEADER
*************************/
.header {
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fefeff;
  box-shadow: 0px 0.2rem 0.8rem 0px var(--colorBrand_second--2);
}

.header-logo {
  width: fit-content;
}

.header-logo > .logo {
  width: 70%;
}

.navbar li {
  padding: 0.3rem;
  text-align: center;
}


/*************************
    PRINCIPAL SECTIONS
*************************/
.service-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item__title {
  font-size: 2.0rem;
  position: absolute;
  z-index: 4;
  color: var(--colorFont_light);
  text-shadow: -2px 2px 4px var(--colorFont_dark);
}


/*************************
         FOOTER
*************************/
.footer {
  padding-bottom: 0.4rem;
  background-color: var(--colorBrand_first);
  color: var(--colorFont_light);
}

.footer__copyright {
  padding: 1rem;
  text-align: center;
}

.footer__copyright-makeBy {
  margin-top: 0.4rem;
}

.footer__copyright-makeBy a {
  color: var(--colorFont_light);
}
